* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-size: 1rem;
  background: #fff;
  padding: 0.5rem;
}

h1, h2 {
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

ul {
  margin: 0.5rem 0;
  padding: 0;
  list-style-position: inside;
}

input, button {
  font-size: inherit;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  
}

section {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.message {
  font-size: 3rem;
}

#webServerStatus {
	text-transform: uppercase;
}
